body{
  background: rgb(54,45,60);
  background: linear-gradient(90deg, rgba(54,45,60,1) 0%, rgba(1,223,0,1) 50%, rgba(54,45,60,1) 100%);
  color: white;
}


.winner{
  color: #00eeff;
  font-weight: bold;
}

.loser{
  color: #ff3352;
  font-weight: bold;
}

#beginGame{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-color: white;
  margin: -2% 0 0 -8%;
  font-size: 20pt;
  color: rgb(240,240,240);
  background: rgb(54,45,60);
  background: linear-gradient(135deg, rgba(54,45,60,1) 20%, rgba(72,79,172,1) 50%, rgba(54,45,60,1) 80%);
}

#dealerHand{
  /*border-style: solid;
  border-color: black;*/
}


#scoreboard{
  width: 10%;
  margin-left: 85%;
  margin-top: -5%;
  border-style: solid;
  border-color: white;
  background: rgb(54,45,60);
  background: linear-gradient(135deg, rgba(54,45,60,1) 20%, rgba(72,79,172,1) 50%, rgba(54,45,60,1) 80%);
  position: absolute;
}

#scoreboard p{
  padding-left: 4%;
}

#moves{
  margin-left: 40%;
  width: 20%;

  /*border-style: solid;
  border-color: black;*/
}

#hit, #stand{
  width: 47%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 1%;
  border-color: white;
  font-size: 20pt;
  color: rgb(240,240,240);
  background: rgb(54,45,60);
  background: linear-gradient(135deg, rgba(54,45,60,1) 20%, rgba(72,79,172,1) 50%, rgba(54,45,60,1) 80%);
}

#newgame{
  width: 98%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 1%;
  border-color: white;
  font-size: 20pt;
  color: rgb(240,240,240);
  background: rgb(54,45,60);
  background: linear-gradient(135deg, rgba(54,45,60,1) 20%, rgba(72,79,172,1) 50%, rgba(54,45,60,1) 80%);
}

#playerHand{

  /*border-style: solid;
  border-color: black;*/
}

.backdrop{
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
}

.invisibleButton{
  display: none;
}

.invisibleText{
  visibility: hidden;
}

#dealerNum, #playerNum{

}


.twocards{
  margin-left: auto;
  margin-right: auto;
  width: 27.5%;
}

.twocards .card{
  width:47.5%;
  margin-right: 2.5%;
}

.threecards{
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.threecards .card{
  width:29%;
  margin-right: 2.5%;
}

.fourcards{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.fourcards .card{
  width:22%;
  margin-right: 2.5%;
}

.fivecards{
  margin-left: auto;
  margin-right: auto;
  width: 82.5%;
}

.fivecards .card{
  width:15%;
  margin-right: 2.5%;
}

.sixcards{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.sixcards .card{
  width: 13.5%;
  margin-right: 2.5%;
}


.sevencards{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.sevencards .card{
  width: 10%;
  margin-right: 2.5%;
}

@media only screen and (max-width: 900px) {
  #beginGame, #scoreboard, #hit, #stand, #newgame {
    font-size: 8pt;
  }
}

@media only screen and (max-width: 400px) {
  #beginGame, #scoreboard, #hit, #stand, #newgame {
    font-size: 4pt;
  }
}
